<<<<<<< HEAD
/* CSS Document */

.newContainer{
  position: absolute;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

.cardImg {
  width: 100%;
  object-fit: cover;
}

#inputBar {
  margin-left: 10px;
  margin-right: 10px;
}

#message {
  text-align: center;
  font-size: 300%;
}
#heading{
  text-align: center;
  font-weight: bold;
}

#backButton {
  margin-right: 10px;
}

#sendInput {
  top: 30%;
}

#jumboTronText {
  text-align: center;
}

#box1{
    text-align: center;
    height: 500px;
}

#box2{
  background-color: #aaa;
    position: absolute;
    top:35%;
    height: 250px;
    border: 25px #aaa;
    padding: 25px;
}

#notification{
  margin-bottom: 20px;
}

#templatedJumbo{
  background-color: rgba(255, 255, 255, 0.68);
}

.graph{
  margin-bottom: 50px;
  background-color: #ffffff;
}

.secondButtons {
  display: inline-block;
  list-style: none;
}

.listItem {
  float: left;
}

.sendButton{
  position:absolute;
  left: 52%;
  top: 25%;
  text-align: right;
}

.cancelButton{
  position:absolute;
  left: 58%;
  top: 25%;
  text-align: right;
}

.deleteButton{
  position:absolute;
  left: 0;
  top: 70%;
  width: 70%;
  text-align: left;
  left: 37%;
}

.previewButton{
  position:absolute;
  left: 0;
  top: 70%;
  width: 70%;
  text-align: left;
  left: 79%;
}

.textBox{
  position: absolute;
  left: 0;
  top: 70%;
  text-align: left;
  left: 15%;
  font-size: 24px;
}

.sendTo{
  position:absolute;
  right: 50%;
  top: 25%;
  font-size: 18px;

}

.homeButton {
    position: absolute;
    top: 8px;
    right: 500px;
}

.plusSign {
    position: absolute;
    top: 4px;
    right: 400px;
}

.plusSign2{
  width: 50px;
  height: 50px;
}

.smileyFace{
  width: 47px;
  height: 50px;
}

.magGlass {
    position: absolute;
    top: 8px;
    right: 300px;
}

.notification {
    position: absolute;
    top: 8px;
    right: 200px;
}

.gear {
    position: absolute;
    top: 5px;
    right: 100px;
}

.questionMark {
    position: absolute;
    top: 5px;
    right: 10px;
}

.titleText {
  position: absolute;
  left: 0;
  top: 10%;
  width: 100%;
  text-align: center;
  font-size: 22px;
}

.bodyText {
  position: absolute;
  left: 0;
  top: 25%;
  width: 100%;
  text-align: center;
  font-size: 22px

}

#myInput {
    background-image: url('https://www.w3schools.com/css/searchicon.png'); /* Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
}

#myUL {
    /* Remove default list styling */
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#myUL li a {
    border: 1px solid #ddd; /* Add a border to all links */
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6; /* Grey background color */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove default text underline */
    font-size: 18px; /* Increase the font-size */
    color: black; /* Add a black text color */
    display: block; /* Make it into a block element to fill the whole list */
}

#myUL li a:hover:not(.header) {
    background-color: #eee; /* Add a hover effect to all links, except for headers */
}

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.card{
  box-shadow: 4px 4px 5px black;
}
