<div class="card" id="unavailable">
  <a href="friendo.html">
    <img class="cardImg" src="avatars/img_avatar1.png">
  </a>
  <div class="card-body">
    <a href="friendo.html" class="profileName">
      <h4 class="card-title">Friendo Santana</h4>
    </a>
    <p class="card-text"> This person is unavailable.</p>
    <a href="friendo.html" class="btn btn-primary">See Profile</a>
    <a href="#" class="btn btn-success disabled">Interact</a>
    <a href="friendostats.html" class="btn btn-warning">Statistics</a>
  </div>
</div>
